@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:400,600|Raleway');

$font-basic: 'Poppins', sans-serif;
$font-card:'Raleway', sans-serif;
$font-header: 'Nunito', sans-serif;
$text-color-basic: #fff;
body
{
    margin: 0;
    padding: 0;
}

/*Header*/

header
{
    background-image: url('../image/menu_background.png');
    background-size: cover;
}

.header_menu
{
    background-image: url('../image/logo_background.png');
    display: flex;
    justify-content: space-around;
    padding: 37px 0;
    overflow: hidden;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

/*Text logo*/

.menu_logo
{
    text-align: center;
}

.menu_logo p
{
    display: inline-block;
    padding: 0 0 0 15px;
    margin: 0;
    font-family: $font-basic;
    color: $text-color-basic;
    font-size: .75em;
    text-align: left;
}

.menu_logo p span
{
    font-family: $font-basic;
    color: $text-color-basic;
    font-size: 1.5em;
    text-align: left;
    text-shadow: 1px 3px 3px rgba(30, 28, 28, .75);
}

.menu_logo a
{
    text-decoration: none;
}

/*Menu*/

.menu_nav
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_nav li
{
    display: inline-block;
    list-style: none;
    margin: 0;
}

.menu_nav li a
{
    text-decoration: none;
    font-family: $font-basic;
    font-weight: bold;
    color: $text-color-basic;
    font-size: .88em;
    padding: 8px 13px;
    border: 1px solid transparent;
    border-radius: 12px;
}

.menu_nav li a:hover
{
    background-color: #fff;
    color: #0b4bec;
    border: 1px solid #fff;
}

/*Content header*/

.header_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 190px 0 0;
}

.content_h1
{
    max-width: 758px;
    color: $text-color-basic;
    font-family: $font-basic;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0 10px 35px;
    text-align: center;
}

.content_p
{
    max-width: 937px;
    color: $text-color-basic;
    font-family: $font-header;
    font-size: .87em;
    text-align: center;
    margin: 0 10px 56px;
}

.content_link
{
    text-decoration: none;
    padding: 18px 48px;
    border-radius: 22px;
    background-color: #fff;
    margin: 0 0 92px;
    color: #0b4bec;
    font-family: $font-basic;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    white-space: nowrap;
}

.content_link:hover
{
    background: #f3f2f2;
}
/*Card in header*/

.content_img
{
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 0 0 40px;
    text-align: center;
    overflow: hidden;
}

.content_left_card
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10px;
    opacity: .4;
}

.content_right_card
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 10px;
    opacity: .4;
}

.content_main_card
{
    position: relative;
    z-index: 1;
}

/*Page with card*/

.container_cards
{
    background-color: #f3f2f2;
}

.cards
{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 160px 0 0;
}

.cards_row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 200px;
    min-height: 520px;
}

.card_block
{
    text-align: center;
    background: #fff;
    margin: 45px 15px;
    height: 295px;
    transition: all .5s ease-out;
    padding: 50px 0 0;

}

.card_h3
{
    margin: 0 0 55px;
    color: #333;
    font-family: $font-basic;
    font-size: 1.88em;
    text-transform: uppercase;
}

.card_h3 span
{
    color: #808080;
    font-family: $font-basic;
    font-size: .8em;
}

.card_block img
{
    padding: 0;
    margin: 0 0 27px;
}

.card_block h3
{
    color: #000;
    font-family: $font-basic;
    font-weight: bold;
    font-size: 1.25em;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 35px ;
}

.card_block p
{
    max-width: 290px;
    color: #808080;
    font-family: $font-card;
    font-size: .87em;
    margin: 0 40px;
}

/*Animathion*/

.card_block:hover
{
    -webkit-box-shadow: inset 0 -182px 220px -34px rgba(8,35,122,1);
    -moz-box-shadow: inset 0 -182px 220px -34px rgba(8,35,122,1);
    box-shadow: inset 0 -182px 220px -34px rgba(8,35,122,1);
    background-color: #0b4bec;
    height: 380px;
    margin: 0 15px;
    padding: 92px 0 0;
    cursor: pointer;
}

.card_block:hover img
{
    margin: 0 0 27px;
}

.card_block:hover p
{
    color: $text-color-basic;
}

.card_block:hover h3
{
    color: $text-color-basic;
}

/*Service*/

.service_text
{
    max-width: 1170px ;
    width: 100%;
    margin: 0 auto;
}

.service_h3
{
    margin: 160px 0 70px;
    color: #333;
    font-family: $font-basic;
    font-size: 1.88em;
    text-transform: uppercase;
}

.service_h3 span
{
    color: #808080;
    font-family: $font-basic;
    font-size: .8em;
}

/*Style for carousel*/

.carousel
{
    max-width: 1300px;
    margin: 0 auto 160px;
    position: relative;
    display: flex;
}

.next,
.prev

{
    background-color: white;
    border: none;
    outline: none;
    align-self: flex-start;
}

.next:hover
{
    cursor: pointer;
}

.prev:hover
{
    cursor: pointer;
}

.gallery
{
    float: left;
    background-color: #fff;
}

.gallery li
{
    margin: 15px;
    border: 1px solid rgba(4, 4, 4, .3);

}

.carousel_list img
{
    width: 270px;
    height: 270px;
}

.carousel_list
{
    text-align: center;
}

.carousel_list p
{
    color: #333;
    font-family: $font-basic;
    font-size: 20px;
}

.arrow use
{
    fill: grey;
}

.arrow:hover use
{
    fill: black;
}

.carousel_list a
{
    text-decoration: none;
}

.carousel_list li:hover
{
    background-color: #f3f2f2;
}

.control
{
    position: relative;
    height: 370px;
    line-height: 370px;
}
/*Happy user*/

.container_user
{
    background-image: url('../image/background_user.png');
    background-size: cover;
    padding: 155px 0;
}

.user
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user_contenr p span
{
    font-family: $font-basic;
    font-weight: bold;
    font-size: 2.17em;
}

.user_contenr p
{
    font-family: $font-basic;
    font-size: 1.5em;
    color: $text-color-basic;
    padding: 0;
    margin: 0;
}

.user_contenr img
{
    margin: 40px 0 60px;
    height: 60px;
}

/*Form*/

.container_form
{
    padding: 130px 0 140px;
}

.h2_form
{
    color: #333;
    font-family: $font-basic;
    font-weight: bold;
    font-size: 1.88em;
}

.block_form
{
    max-width: 1200px;
    margin: 0 auto;
}

.box_form
{
    position: relative;
    margin-bottom: 20px;
    color: #808080;
    font-family: $font-card;
    font-size: 1.25em;
}

label
{
    position: absolute;
    top: 15px;
    left: 30px;
}

.input_form:focus ~ label
{
    opacity: 0;
}

.input_form,
.submit_form
{
    width: 550px;
    height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 0 20px;
}

input:valid ~ label
{
    opacity: 0;
}

.submit_form
{
    background-color: #0b4bec;
    color: $text-color-basic;
    font-family: $font-card;
    font-size: .88em;
}

.input_message
{
    width: 550px;
    height: 118px;
}

.main_form
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.submit_form:hover
{
    cursor: pointer;
}

/*Footer*/

.footer
{
    height: 90px;
    padding-top: 40px;
    background-image: url('../image/footer_background.png');
    background-size: cover;
}

.footer_block
{
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
}

.footer_block a
{
    text-decoration: none;
    color: $text-color-basic;
    font-family: $font-basic;
    font-size: .88em;
}

@media screen and (min-width: 730px) and (max-width: 1200px)
{
    .block_form
    {
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
    }

    .input_form, .submit_form
    {
        width: 500px;
    }

    .cards_row
    {
        flex-direction: column;
    }

    .service_text
    {
        text-align: center;
    }
}
